<h1>Welcome to Chooble</h1>

<div id="app">
  <div id="login-form">
    <label>Email:</label>
    <input v-model="email" />
    <label>Password:</label>
    <input v-model="password" />
    <button v-on:click="login">Login</button>
  </div>
</div>

