<h1>Welcome to Chooble</h1>

<div id="app">

  <form id="login-form" v-on:submit.prevent="login" v-if="!loggedIn">
    <label>Email:</label>
    <input v-model="email" />
    <label>Password:</label>
    <input type="password" v-model="password" />
    <button>Login</button>
  </form>

  <div id="profile" v-if="loggedIn">
    Profile for {{ currentUser.email }}
  </div>

</div>

