/*
  Fonts
*/

@font-face {
    font-family: AliensAndCows;
    src: url("../fonts/aliens_and_cows.ttf");
}


@font-face {
    font-family: Digitalt;
    src: url("../fonts/Digitalt.otf");
}

/*
  Material UI Overrides
*/

.md-card, .md-toolbar {
    .md-title {
        font-family: AliensAndCows;
        font-size: 2.5em;
        font-weight: bold;
        letter-spacing: 2px;
    }
}

